/* Estilo base para animações */
.animate {
    opacity: 0;
    transition: all 0.5s ease-out;
  
  }
  
  /* Desliza para a esquerda */
  .animate-left {
    transform: translateX(-100%);
  }
  
  /* Desliza para a direita */
  .animate-right {
    transform: translateX(100%);
  }
  
  /* Animação de fade-in */
  .animate-fade-in {
    transform: scale(0.5);
  }
  
  /* Animação de deslizar para cima */
  .animate-up {
    transform: translateY(100%);
  }
  
  /* Animação de deslizar para baixo */
  .animate-down {
    transform: translateY(-100%);
  }
  
  /* Animação de zoom-in */
  .animate-zoom-in {
    transform: scale(0.8);
  }
  
  /* Animação de rotação */
  .animate-rotate {
    transform: rotate(-45deg);
  }
  
  /* Animação de desvanecimento e deslize para cima */
  .animate-fade-up {
    opacity: 0;
    transform: translateY(50%);
  }
  
  /* Animação de escala e rotação */
  .animate-scale-rotate {
    transform: scale(0.9) rotate(10deg);
  }
  
  /* Animação de pular (bounce) */
  .animate-bounce {
    transform: translateY(0);
  }
  
  /* Aplicar animação ao entrar na tela */
  .animate.in-view {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  
  /* Aplicar animação de deslizar para cima */
  .animate-up.in-view {
    transform: translateY(0);
  }
  
  /* Aplicar animação de deslizar para baixo */
  .animate-down.in-view {
    transform: translateY(0);
  }
  
  /* Aplicar animação de zoom-in */
  .animate-zoom-in.in-view {
    transform: scale(1);
  }
  
  /* Aplicar animação de rotação */
  .animate-rotate.in-view {
    transform: rotate(0);
  }
  
  /* Aplicar animação de desvanecimento e deslize para cima */
  .animate-fade-up.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Aplicar animação de escala e rotação */
  .animate-scale-rotate.in-view {
    transform: scale(1) rotate(0);
  }
  
  /* Aplicar animação de pular (bounce) */
  .animate-bounce.in-view {
    animation: bounce 1s ease;
  }
  
  /* Keyframes para a animação de pular (bounce) */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
    
  /* 
    .animate,
    .animate-left,
    .animate-right,
    .animate-fade-in,
    .animate-up,
    .animate-down,
    .animate-zoom-in,
    .animate-rotate,
    .animate-fade-up,
    .animate-scale-rotate,
    .animate-bounce {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      animation: none !important;
    }
  
    .animate.in-view,
    .animate-left.in-view,
    .animate-right.in-view,
    .animate-fade-in.in-view,
    .animate-up.in-view,
    .animate-down.in-view,
    .animate-zoom-in.in-view,
    .animate-rotate.in-view,
    .animate-fade-up.in-view,
    .animate-scale-rotate.in-view,
    .animate-bounce.in-view {
      opacity: 1 !important;
      transform: none !important;
      animation: none !important;
    }
  } */