@media (max-width: 768px) {
    .rank{
        height: auto;
        width: 100%;
        padding: 10% 5%;
        flex-direction: column-reverse;
        gap: 60px;
    }
    
    .rank__left{
        width: 100%;
        height: 80%;
    }
    
    .rank__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 colunas */
        grid-template-rows: repeat(3, 1fr); /* 3 linhas */
        gap: 5px; 
        width: 100%;
        height: 60%;
    }
    
    .rank__item {
        position: relative;
    }
    
    .rank__item img {
        width: 100%;
        height: 100%;
    }
    
    .rank__grid .rank__item1 {
        grid-row: span 2; 
    }
    
    .rank__grid .rank__item2 {
        grid-column: span 3;
    }
    
    .rank__item4 {
        grid-row: span 1;
    }
    
    .rank__item6 {
        grid-column: span 2; 
    }
    
    .rank__right{
        width: 100%;
        height: 30%;
        gap: 35px;
    }
    
    .rank__title{
        gap: 20px;
    }
    
    .rank__title h1{
        width: 100%;
        text-align: center;
    }
    
    .rank__title p{
        width: 100%;
        text-align: justify;
    }
    
    .rank__indica{
        padding: 5px;
        height: 10%;
        display: none;
        width: 60%;
        gap: 10px;
    }
    
    .rank__indica img{
        width: 30%;
        height: 100%;
    }
    
    .rank__indica p{
        width: 70%;
        height: 100%;
    }
    
    .rank__container{
        width: 100%;
        height: 30%;
        gap: 10px;
    }
    
    .rank__container img{
        width: 40%;
        height: 100%;
    }
    
    .rank__right button{
        width: 80%;
        padding: 10px;
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}