@media (max-width: 768px) {
    .produtos{
        padding: 0 5%;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        flex-direction: column;
    }
    
    .produtos__top{
        width: 100%;
    }
    
    .produtos__title{
        width: 100%;
        gap: 30px;
        margin-bottom: 30px;
    }

    .produtos__title h1{
        width: 100%;
        text-align: center;
    }
    
    .produtos__title p{
        text-align: justify;
    }
    
    .produtos__title h1 b{
        width: 100%;
    }

    .produtos__img{
        width: 30%;
        display: none;
    }
    
    .produtos__center {
        width: 100%; 
        height: auto; 
        display: none; 
    }
    
    .produtos__container {
        width: 100%; 
        height: 18vh; 
    }
    
    .produtos__container img {
        max-width: 100%; 
        height: auto;
    }
    
    .produtos__container__left{
        width: 80%;
        height: 100%;
    }
    
    .produtos__container__left img{
        width: 40%;
        height: 80%;
    }
    
    .produtos__name{
        height: 80%;
        width: 70%;
        gap: 10px;
    }
    
    .produtos__container__center{
        padding: 15px;
        height: 30%;
        gap: 10px;
        display: none;
    }

    .toggleProduct span{
        display: none;
    }

    .produtos__container button{
        height: 40%;
        padding: 15px;
        gap: 15px;
    }
    
    .produtos__container button i{
        width: 30px;
        height: 30px;
    }
    
    .produto__open{
        width: 100%;
    }
    
    .produto__open.open{
        height: 65vh;
        padding: 30px;
    }
    
    .produto__open__left{
        width: 100%;
        height: 100%;
        gap: 40px;
        overflow: scroll;
    }

    .produto__open__left__hashtags{
        width: 100%;
        gap: 5px;
    }
    
    .produto__open__left__hashtags span{
        padding: 5px 10px;
        width: auto;
    }
    
    .produto__open__left button{
        padding: 15px;
        width: 100%;
    }
    
    .produto__img{
        width: 50%;
        height: 100%;
        display: none;
    }
    
    .produto__img img{
        width: 100%;
        height: 100%;
    }

    #loadMoreBtn{
        margin: 2%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}